.eventContainer {
    // justify-content: center;
    // align-items: center;
    margin-left: 10rem;
    margin-top: 5rem;
    display: flex;
    position: relative;
    padding: 1rem;
    height: 100vh;

    p {
        font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-align: justify;
        margin-top: 1rem;
        justify-content: center;
        display: flex;
        align-items: center;
        color: rgb(140, 135, 135);
        width: 450px;
        font-size: 15px;
    }
}

.eventItems {
    width: 450px;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    z-index: 1;
    box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
    -webkit-box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
    -moz-box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
}

.eventsTitle {
    margin-top: 2rem;
    margin-left: 11rem;
    padding: 1rem;
    position: absolute;
    border-radius: 1rem;
    background-color: #1E1D7A;
    color: #fff;
    display: flex;
    font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 500px;
    margin-bottom: 1rem;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.subTitle {
    font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 23px;
    margin-top: 2rem;
    color: #1E1D7A;
    width: 445px;
}

.cardContainer {
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 2rem;
    width: 500px;
    padding: 1.6rem;
    height: 37rem;
    box-shadow: -12px 12px 37px -11px rgba(0,0,0,0.62);
    -webkit-box-shadow: -12px 12px 37px -11px rgba(0,0,0,0.62);
    -moz-box-shadow: -12px 12px 37px -11px rgba(0,0,0,0.62);
}

.cardFooter {
    // border-top: 1px solid black;
    position: absolute;
    display: flex;
    justify-content: right;
    width: 445px;
    margin-top: .75rem;

    Button {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        
        background-color: #0098c1;
        box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
        -webkit-box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
        -moz-box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
    }

    &:hover Button {
        background-color: #1E1D7A;
        box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
        -webkit-box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
        -moz-box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
    }

    a {
        display: flex;
    }
    h1 {
        margin-top: 9px;
        font-size: 14px;
    }
}
