// .menu {
//     background: #1E1D7A;
//     color: #fff;
//     height: 100vh;
//     width: 250px;
//     opacity:1; 
//     position: fixed;
//     visibility: visible;
//     transition: all 0.25s ease;
//     // box-shadow: 0px 5px 20px 5px rgba(24, 16, 173, 0.25);
//     z-index: 1;
//     a {
//       color: #fff;
//       display: block;
//       padding: 10px;
//     }
  
//     ul {
//       padding: 0;
//       margin: 0;

//       li {
//         font-size: 16px;
//         border-bottom: 1px solid #fff;
//         transition: all 0.25s ease;
//         animation: .25s ease forwards;
//         opacity:1;
//         list-style: none;
  
//         &:hover {
//           opacity: 0.8;
//           transition: all 0.25s ease;
//           background: #0098c1;
//           cursor: pointer;
//         }
//       }
//     }
//   }

  // .content-menu {
  //   background: #fff;
  //   color: black;
  //   height: 100vh;
  //   width: 100%;
  //   position: fixed;
  //   margin-left: 13%;
  //   z-index: 0;
  //   // box-shadow: 0px 5px 20px 5px rgba(24, 16, 173, 0.25);
  // }

  // .file-explorer{
  //   padding: 15px;
  //   display: flex;
  //   background-color: #fff;
  //   // box-shadow: 5px 5px 30px 15px rgba(255, 250, 250, 0.25);
  //   border: 1px solid rgba(19, 19, 19, 0.25);
  //   z-index: 1;
  //   a {
  //     text-decoration: none;
  //     display: block;
  //     font-family:Arial;
  //     position: relative;
  //     color: black;
  //     padding:.5em 0
  //   }
  //   ul {
  //     padding: 0;
  //     margin: 0;
  //     display: inline-block;

  //     li {
  //       display: inline-block;
  //       min-width: 3em;
  //       margin: 0 0.5em;
  
  //       &:hover {
  //         color: rgba(24, 16, 173, 0.25);
  //       }
  //     }
  //   }
  // }

.form{
    position: relative;
    width: 30%;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{
    position: absolute;
    right: 17px;
    top: 9px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   padding-left: 10px;
}

.form-input{
    height: 45px;
    text-indent: 30px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

.form-area {
  justify-content: center;
  align-items: center;
  padding: 5rem;
  width: 50rem;
  display: inline-block;
  background-color: transparent;
  transform: translate(80%);
  margin-top: 5%;
}

.form-button {
  background-color: #1E1D7A;
  width: max-content;
}



/* CSS */
.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}

.container-menu {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 1;
  position: fixed;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  appearance: none;
  backface-visibility: hidden;
  border-radius: 5px;
  transform: translate3d(0, 0, 0);
}

/*Essential Container*/

.main-container {
  border: 1px solid rgb(204, 198, 198);
  position: flex;
  height: 100vh;
  width: 60rem;
  border-radius: 1rem;
  translate: 15% 10%;
  padding: 5rem;
  margin-bottom: 20%;
  margin-top: 5%;
  /* box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.75); */
}

.main-card {
  height: 230px;
  width: 195px;
  background-color: rgb(255, 253, 253);
  /* border: 1px solid #333; */
  border-top: 1px solid rgb(204, 198, 198);
  border-left: 1px solid rgb(204, 198, 198);
  translate: 1.7rem -9rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 23px -11px rgba(0,0,0,0.63);
  -webkit-box-shadow: 10px 10px 23px -11px rgba(0,0,0,0.63);
  -moz-box-shadow: 10px 10px 23px -11px rgba(0,0,0,0.63);
  margin-top: 2%;
  cursor: pointer;
}

.card-icons{
  width: 100px;
  translate: 45%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #1E1D7A;
  transform: scale(1.5,1.5);
  padding: 1rem;
  margin-top: 10%;
}

.card-titles{
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #1E1D7A;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: .5rem;
  font-size: 16px;
  margin-top: 1%;
}

.card-contents{
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(140, 135, 135);
  padding: 1rem;
  margin-top: -5%;
  font-size: 13px;

}

.box-roadmap {
  box-sizing: border-box;
  border-radius: 1rem;
  width: 660px;
  height: 300px;
  border: 1px solid #333;
  background-color: #235090;
  translate: 35rem -23rem
}

.box-titles {
  font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  padding: 1rem;
  font-size: 23px;
  color: #fff;
}
.box-containers {
  position: relative;
  width: 100px;
  height: 120px;
  padding: 10px;
  background-color: transparent;
  translate: calc(5%);
  margin-top: 17%;
  cursor: pointer;
  p {
    font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    font-size: 13px;
  }

  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(140, 135, 135);
    padding: 1rem;
    margin: -7px 7px;
    border: 3px solid rgb(140, 135, 135);
    border-radius: 50%;
    background-color:#fff;
  }

  div {
    position: absolute;
    color: rgb(140, 135, 135);
    translate: calc(320%);
    margin-top: -1%;
    -moz-transform: scale(2) skew(-22deg, 24deg);
    -webkit-transform: scale(2) skew(-22deg, 24deg);
    -o-transform: scale(2) skew(-22deg, 24deg);
    -ms-transform: scale(2) skew(-22deg, 24deg);
    transform: scale(2) skew(-22deg, 24deg);

  }
  &:hover span {
    background-color:#0098c1;
    color: #fff;
    border: 3px solid #fff;
  }
}

.box-containers2 {
  position: relative;
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: transparent;
  translate: calc(15%);
  margin-top: -22%;
  margin-left: 13%;
  cursor: pointer;
  p {
    font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    translate: -1rem;
    align-items: center;
    padding: .1rem;
    font-size: 13px;
  }

  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
    margin: -7px 7px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color:#1366d6;
  }

  div {
    position: absolute;
    color: #fff;
    translate: calc(300%);
    margin-top: -1%;
    -moz-transform: scale(2) skew(-22deg, 24deg);
    -webkit-transform: scale(2) skew(-22deg, 24deg);
    -o-transform: scale(2) skew(-22deg, 24deg);
    -ms-transform: scale(2) skew(-22deg, 24deg);
    transform: scale(2) skew(-22deg, 24deg);

  }
  &:hover span {
    background-color:#0098c1;
    color: #333;
  }
}

.box-containers3 {
  position: relative;
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: transparent;
  translate: calc(100%);
  margin-top: -22%;
  margin-left: 13%;
  cursor: pointer;
  p {
    font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    display: flex;
    translate: -1rem;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    font-size: 13px;
  }

  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
    margin: -7px 7px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color:#1366d6;
  }

  div {
    position: absolute;
    color: #fff;
    translate: calc(300%);
    margin-top: -1%;
    -moz-transform: scale(2) skew(-22deg, 24deg);
    -webkit-transform: scale(2) skew(-22deg, 24deg);
    -o-transform: scale(2) skew(-22deg, 24deg);
    -ms-transform: scale(2) skew(-22deg, 24deg);
    transform: scale(2) skew(-22deg, 24deg);

  }
  &:hover span {
    background-color:#0098c1;
    color: #333;
  }
}

.box-containers4 {
  position: relative;
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: transparent;
  translate: calc(185%);
  margin-top: -22%;
  margin-left: 13%;
  cursor: pointer;
  p {
    font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    translate: -1rem;
    padding: .1rem;
    font-size: 13px;
  }

  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
    margin: -7px 7px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color:#1366d6;
  }

  div {
    position: absolute;
    color: #fff;
    translate: calc(300%);
    margin-top: -1%;
    -moz-transform: scale(2) skew(-22deg, 24deg);
    -webkit-transform: scale(2) skew(-22deg, 24deg);
    -o-transform: scale(2) skew(-22deg, 24deg);
    -ms-transform: scale(2) skew(-22deg, 24deg);
    transform: scale(2) skew(-22deg, 24deg);

  }
  &:hover span {
    background-color:#0098c1;
    color: #333;
  }
}

.box-containers5 {
  position: relative;
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: transparent;
  translate: calc(270%);
  margin-top: -22%;
  margin-left: 13%;
  cursor: pointer;
  p {
    font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    translate: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    font-size: 13px;
  }

  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
    margin: -7px 7px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color:#1366d6;
  }

  div {
    position: absolute;
    color: #fff;
    translate: calc(300%);
    margin-top: -1%;
    -moz-transform: scale(2) skew(-22deg, 24deg);
    -webkit-transform: scale(2) skew(-22deg, 24deg);
    -o-transform: scale(2) skew(-22deg, 24deg);
    -ms-transform: scale(2) skew(-22deg, 24deg);
    transform: scale(2) skew(-22deg, 24deg);

  }
  &:hover span {
    background-color:#0098c1;
    color: #333;
  }
}

.box-containers6 {
  position: relative;
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: transparent;
  translate: calc(355%);
  margin-top: -22%;
  margin-left: 13%;
  cursor: pointer;
  p {
    font-family: Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    translate: -1rem;
    align-items: center;
    padding: .1rem;
    font-size: 13px;
  }

  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1rem;
    margin: -7px 7px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color:#1366d6;
  }

  // div {
  //   position: absolute;
  //   color: #fff;
  //   translate: calc(300%);
  //   margin-top: -1%;
  //   -moz-transform: scale(2) skew(-22deg, 24deg);
  //   -webkit-transform: scale(2) skew(-22deg, 24deg);
  //   -o-transform: scale(2) skew(-22deg, 24deg);
  //   -ms-transform: scale(2) skew(-22deg, 24deg);
  //   transform: scale(2) skew(-22deg, 24deg);

  // }
  &:hover span {
    background-color:#0098c1;
    color: #333;
  }
}
