

footer {
  display: block;
}
.logo-center {
  margin-left: 20px;
  padding: 10px;
}

/*
--------------------------------------------------
Footer
-------------------------------------------------- */
.section-container {
  padding: 20px;
}

.nav-group .container {
  padding: 0 20px;
}

.organization-info .vcard {
  padding: 20px;
}

.organization-info .copyright {
  padding: 0 20px 40px;
}

.organization-info h2 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.organization-info h2 a {
  color: #ccc;
}

.organization-info h2 a:hover {
  color: #fff;
}

.organization-info p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: .875em;
  color: #999;
}

.organization-info a:hover {
  color: #fff;
}

.contact-info .vcard {
  padding: 20px;
}

.nav-group .container {
  padding: 0 20px;
}

.contact-info .copyright {
  padding: 0 20px 40px;
}

.contact-info h2 {
  color: #fff;
}

.contact-info p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: .875em;
  color: #ba969d;
}
footer
.contact-info a {
  color: #fff;
}

.contact-info a:hover {
  color: #fff;
}

.footer-nav h4 {
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: .25em;
}

.footer-nav h4 a {
  color: #ccc;
}

.footer-nav h4 a:hover {
  color: #fff;
}

.footer-nav li {
  font-size: .875em;
  list-style: none;
  margin: 0;
  color: #ba969d;
}

.footer-nav li a {
}

.footer-nav li a:hover {
  color: #fff;
}

.site-info {
  font-size: .875em;
  color: #fff;
  margin-top: 10rem;
}

p.copyright {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 20px 0 0;
}

