:root {
  --navBg: #060b26;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  /* margin-top: 20px; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
} */

.App-header {
  background-color: #235090;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: white;
  padding: 1rem 5rem 0.75rem 5rem;

}

.container-custom {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: black;
  padding: 3rem 2rem 1.1rem 5rem;
}

.container-custom-essentials {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
  /* background-color: #060b26; */
}

.navbar-brand {
  padding: 0.75rem 0.75rem 0.75rem 10rem;
}

/* .App-logo {
  max-width: 100%;
  height: auto;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-container {
  justify-content: center;
  text-align: center;
  background-color: #235090;
  background-image: url(../src/assets/banner-video.webm);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  padding: 9rem;
  overflow: hidden;
  color: #ffffff;
}

#Container {
  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden;
}

#Container video {
  position: absolute;
  left: 50%;
  top: 50%;
  /* The following will size the video to fit the full container. Not necessary, just nice.*/
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 0;
}

#Container div {
  position: relative;
  z-index: 1;
}


.nav-container {
  background-color: #1E1D7A;
  justify-content: center;
}

.nav-container2 {
  background-color: #335891;
}

.card-custom {
  margin: 20px 10px;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(139, 134, 134, 0.25), -5px -5px 30px 7px rgba(193, 189, 189, 0.22);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-custom:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(139, 134, 134, 0.25) -10px 10px, #335891 -20px 20px ;
}

/* .sidebar {
  position: fixed;
  min-height: 100vh !important;
  z-index: 100;
  padding: 1rem 1rem 1rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
} */
/* #sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  background-color: #060b26;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
} */

/* #sidebar-wrapper{
  background-color:cornsilk;
  padding: 0.875rem 1.25rem ;
  font-size: 1rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  min-height: 80vh !important;
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25);
  z-index: 100;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
} */
