.global-navs {
    background-color: #1E1D7A;
    box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
    -webkit-box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
    -moz-box-shadow: -12px 23px 24px -18px rgba(0,0,0,0.48);
    padding: .2rem;
    height: 4rem;
    font-size: .85em;
    font-size: .95rem;
    white-space: nowrap;
    margin: 0;
    

    li {
        list-style: none;
        float: right;
        margin-right: 30px;
        margin-top: 5px;
    }


    p {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        display: block;
        padding: .9em;
        color: #fff;
    }

    span {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }

}

.itemList {
    background-color: transparent;
    border: none;

    &:hover {
        background-color: transparent;
        color: #fff;
    }
    
}

.itemMenu {
    color: #1E1D7A; 
}

